<section class="min-h-[170vh] w-[100vw] grid grid-cols-1 lg:grid-cols-[7fr_5fr] px-4 lg:px-24 py-14
                bg-contain bg-no-repeat bg-left-bottom"
         style="background-image: url(<%= asset_url 'ciclo-bg.png' %>);">
  <div>
    <p class=" font-open italic font-light text-lg lg:text-xl text-serblack-900 w-[25ch]">Como terapeuta - iniciante ou já experiente - você sente que está em uma jornada próspera?</p>
    <p class=" font-open italic font-light text-lg lg:text-xl text-serblack-900 w-[25ch]">A linguagem da Alma é uma inteligência interior.</p>
    <p class=" font-open italic font-light text-lg lg:text-xl text-serblack-900 w-[30ch] lg:w-[35ch]">Nesse lugar, você é capaz de identificar os seus recursos pessoais e você sai da ilusão de sentimentos como a inadequação e insegurança.</p>
    <p class=" font-open italic font-light text-lg lg:text-xl text-serblack-900 w-[30ch] lg:w-[45ch]">As lentes terapêuticas convencionais não conseguem alcançar sozinhas a frequência do amor, do perdão e da abundância.</p>
    <p class=" font-open italic font-light text-lg lg:text-xl text-serblack-900 w-[30ch] lg:w-[35ch]">A Alma nos tira do estado de inércia, procrastinação e medo. A Alma não espera, porque ela já é – o tempo todo! Você só precisa dar espaço para ela se apresentar.</p>
    <h3 class="font-serif bold text-serpurple-400 w-[20ch] lg:w-100 text-2xl">Esse é o desafio e o presente do nosso trabalho</h3>
  </div>

  <div class="flex flex-col justify-between items-start lg:items-center">

    <div class="w-full py-16 flex flex-col items-center bg-center bg-cover bg-no-repeat"
         style="background-image: url(<%= asset_url 'circulo8_roxo.png' %>);">
      <h2 class="font-serif font-bold text-4xl text-serpurple-400 mb-0">Ciclo básico</h2>
      <p class="font-sans font-light text-serpurple-900 text-xl w-[10ch]">a linguagem da Alma</p>
    </div>

    <div class="lg:pl-6">
      <p class="font-sans font-light text-lg lg:text-xl self-start text-serpurple-400 w-[28ch]">E pensando nisso, eu quero oferecer essa lente de transformação profunda para a sua prática.</p>
      <p class="font-sans font-light text-lg lg:text-xl self-start text-serpurple-400 w-[28ch] mb-0">As portas estão abertas para criarmos juntos um grupo para aprender sobre a força da sua </p>
      <p class="font-serif font-bold text-lg lg:text-xl self-start text-serpurple-400 w-[28ch] mt-0">inteligência interior.</p>
      <a href="https://pag.ae/7-9ZYy7cP" target="_blank"  class="btn-primary w-[20ch] inline-block text-center hover:shadow-2xl m-0 p-2">QUERO APRENDER ESSA LINGUAGEM</a>
    </div>

  </div>
</section>
