<section class="m-h-[100vh] w-[100vw] bg-serpurple-400 px-8 md:px-24 pt-14 pb-20 entregaveis-section">

  <div class="grid md:grid-cols-2">

    <div class="flex flex-col">
      <div class="flex">
        <%= image_tag "asterisco_azul.png", class:'self-start m-0'%>
        <div>
          <h2 class="font-sans font-thin text-serblack-900 text-4xl m-0 leading-tight">O que você</h2>
          <p class="font-serif font-bold text-serpink-400 text-3xl m-0 leading-tight">vai receber</p>
        </div>
      </div>

      <p class="font-sans italic font-thin text-serpink-200 text-lg mt-4 w-[30ch] leading-tight">Aprenda a desenvolver e acessar uma linguagem única na sua prática terapeutica.</p>
    </div>

    <div class="card--entregaveis flex flex-col lg:flex-row">
      <div class="flex flex-col items-center justify-start">
        <h1 class="font-serif font-bold text-serpink-400 text-[8rem] m-0 p-0 leading-none">12</h1>
        <p class="font-serif font-bold text-serpurple-800 text-2xl m-0 leading-tight">encontros</p>
        <p class="font-sans italic font-thin text-serpink-200 text-lg m-0 p-0">online e ao vivo</p>
      </div>

      <ul class="self-center mx-auto">
        <li class="font-serif font-bold text-serpurple-800 text-2xl m-0 leading-tight">1 vez na semana</li>
        <li class="font-serif font-bold text-serpurple-800 text-2xl m-0 leading-tight">2 horas de duraçao</li>
      </ul>
    </div>

  </div>

  <div class="grid  grid-cols-[1fr] md:grid-cols-[3fr_5fr] lg:grid-cols-[3fr_5fr_2fr] gap-6">

    <div class="card--entregaveis flex flex-col items-start lg:items-center">
      <div class="flex flex-col">
        <p class="font-serif font-bold text-serpink-400 text-3xl m-0 leading-tight">Masterclass</p>
        <p class="font-sans font-light text-serblack-900 text-3xl m-0 leading-tight self-start">surpresa!</p>
      </div>
      <p class="font-sans italic font-thin text-[#fff] text-lg md:text-md mt-4 w-[20ch]">Receberemos duas terapeutas convidadas de renome no mercado para trocar experiências e falar da carreira.</p>
    </div>

    <div class="card--entregaveis flex flex-col bg-auto bg-no-repeat"
         style="background-image: url(<%= asset_url '7.png' %>);">
      <div class="self-end flex flex-col">
        <p class="font-serif font-bold text-serpink-400 text-3xl m-0 leading-tight">Manual de</p>
        <p class="font-sans font-light text-serblack-900 text-3xl m-0 leading-none self-end">travessias</p>
      </div>
      <p class="font-sans italic font-thin text-[#fff] text-lg md:text-md mt-4 w-[30ch]">Depoimentos e compilados sobre a experiência de contato com a Alma que cada integrante vai construir ao longo da jornada, para materializarmos esse acervo coletivo do que aprendemos juntas.</p>
    </div>

    <div class="card--entregaveis flex flex-col">
      <div class="self-start">
        <p class="font-sans font-light text-serblack-900 text-3xl m-0 leading-none">dinâmicas e</p>
        <p class="font-serif font-bold text-serpink-400 text-3xl m-0 leading-tight w-[10ch]">rodas de conversa</p>
      </div>
      <p class="font-sans italic font-thin text-[#fff] text-lg md:text-md mt-4 w-[20ch]">Um espaço para trocarmos casos terapêuticos, dentro dos encontros, leituras e investigação pessoal.</p>
    </div>

  </div>

  <div class="grid grid-cols-[1fr] md:grid-cols-[3fr_5fr] lg:grid-cols-[2fr_3fr_5fr] gap-6">

    <div class="card--entregaveis flex flex-col items-startlg:items-center">
      <div class="flex flex-col">
        <p class="font-sans font-light text-serblack-900 text-3xl m-0 leading-tight self-start">Planejamento</p>
        <p class="font-serif font-bold text-serpink-400 text-3xl m-0 leading-tight">estratégico</p>
      </div>
      <p class="font-sans italic font-thin text-[#fff] text-lg md:text-md mt-4 w-[20ch]">Você vai receber uma aula bônus para aprender a gerar conteúdo e encontrar a sua identidade na rede social</p>
    </div>

    <div class="card--entregaveis flex flex-col">
      <div class="flex flex-col">
        <div>
          <p class="font-serif font-bold text-serpink-400 text-3xl m-0 leading-tight inline">TABUS </p>
          <p class="font-sans font-light text-serblack-900 text-3xl m-0 leading-none inline"> na</p>
        </div>
          <p class="font-sans font-light text-serblack-900 text-3xl m-0 leading-none">prática terapeutica</p>
      </div>
      <p class="font-sans italic font-thin text-[#fff] text-lg md:text-md mt-4 w-[20ch]">Vou compartilhar com você atravessamentos de casos como abuso, mãe devoradora, dependencia quimica, psicopatia, suicidio</p>
    </div>

    <div class="flex flex-col p-0">
      <p class="font-sans italic font-thin text-[#fff] text-lg md:text-md mt-4 max-w-[40ch] self-end text-right">Construir uma egrégora de expansão da consciência e que também está comprometida a levar esse trabalho para os seus atendimentos.</p>
      <p class="font-sans italic font-thin text-[#fff] text-lg md:text-md mt-4 max-w-[50ch] self-end text-right">Vamos fortalecer a prática terapêutica que conduz o indivíduo ao contato com a sua dimensão intuitiva e assim poder prosperar e se estabelecer dentro da sua clínica criando uma estrutura de trabalho mais consistente e sólida.</p>

      <div class="self-end mt-12">
        <a href="https://pag.ae/7-9ZYy7cP" target="_blank" class="btn-primary w-[20ch] inline-block text-center hover:shadow-2xl">quero fazer parte dessa egrégora</a>
      </div>

    </div>

  </div>
</section>
