<section class="relative mx-auto h-[85vh] lg:h-[95vh] w-[100vw] bg-cover bg-[40%] lg:bg-center text-white flex flex-col justify-end items-start px-4 lg:px-24 py-14" style="background-image: url(<%= asset_url 'linguagemdoser_hero_2.png' %>);">
  <h1 class="font-serif text-4xl lg:text-6xl font-bold lg:px-3 text-left w-[10ch] text-serpurple-400 m-0">Linguagem do ser</h1>
  <p class="text-xl lg:text-2xl lg:px-3 text-left font-light lg:font-thin w-[20ch] lg:w-[30ch] m-0 text-serpurple-900">Mentoria de desenvolvimento da consciência terapêutica.</p>
  <p class="absolute bottom-[30%] lg:bottom-80 right-[-33%] bg-serpurple-400 bg-opacity-80 lg:right-[-10%] lg:text-xl whitespace-nowrap px-2 font-light text-serpink-200 rotate-[-90deg]"><strong class="text-[#fff]">12 encontros </strong>ao vivo com duração de 2 horas via Zoom.</p>
  <p class="absolute top-24 left-[-5%] lg:left-10 text-lg lg:text-xl lg:font-light text-serpurple-400 rotate-[-90deg]">03/02 à 27/04</p>
</section>
