<section class="relative mx-auto min-h-screen w-[100vw] bg-cover bg-center text-white flex flex-col justify-end items-start px-8 lg:px-24 py-14" style="background-image: url(<%= asset_url 'hero-bg.png' %>);">
  <h1 class="font-serif text-5xl lg:text-6xl font-bold lg:px-3 text-left w-[10ch] text-serpink-200 m-0">Linguagem do ser</h1>
  <p class="text-xl lg:text-2xl lg:px-3 text-left font-thin w-[20ch] lg:w-[30ch] m-0 text-serpink-400">Mentoria de desenvolvimento da consciência terapêutica.</p>
  <p class="absolute bottom-[50%] lg:bottom-60 right-[-45%] lg:right-0 text-md font-light text-serpink-200 rotate-[-90deg]"><strong class="text-serpink-200">12 encontros </strong>ao vivo com duração de 2 horas via Zoom.</p>
  <p class="absolute top-24 left-16 text-md font-light text-serpink-200 rotate-[-90deg]">23/01 à 13/04</p>
</section>
