<section class="flex flex-col min-h-[100vh] w-[100vw] py:10 lg:py-14">

  <h2 class="mx-10 lg:mx-40 self-start lg:self-end font-serif font-bold text-4xl text-serpink-400 w-[12ch] text-left">Para quem é a mentoria</h2>

  <div class="grid grid-cols-[1fr_1fr] lg:grid-cols-[1fr_1fr_1fr_1fr] gap-2 para-quem-é-sections px-10 lg:px-40">
    <div class="flex flex-col items-center">
      <div class="w-32 h-32 bg-serpink-400 rounded-full border shadow border-2 border-serpink-200"></div>
      <p class="font-open italic font-light text-md lg:text-xl text-serpurple-400 w-[18ch]"><strong class="font-serif not-italic text-serblack-900">Terapeutas </strong>que sentem a necessidade de tornar a sua entrega mais leve e abundante.</p>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-32 h-32 bg-serpink-400 rounded-full border shadow border-2 border-serpink-200"></div>
      <p class="font-open italic font-light text-md lg:text-xl text-serpurple-400 w-[18ch]"> Terapeutas que se sentem sozinhas nessa jornada e querem um espaço de troca e <strong class="font-serif not-italic text-serblack-900">construção coletiva.</strong></p>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-32 h-32 bg-serpink-400 rounded-full border shadow border-2 border-serpink-200"></div>
      <p class="font-open italic font-light text-md lg:text-xl text-serpurple-400 w-[18ch]"> Terapeutas que lidam com o medo da escassez e ainda não encontraram o <strong class="font-serif not-italic text-serblack-900">seu diferencial.</strong></p>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-32 h-32 bg-serpink-400 rounded-full border shadow border-2 border-serpink-200"></div>
      <p class="font-open italic font-light text-md lg:text-xl text-serpurple-400 w-[18ch]"> Para terapeutas que não conseguem criar um <strong class="font-serif not-italic text-serblack-900">distanciamento saudável </strong>diante dos processos dos seus clientes.</p>
    </div>
  </div>

  <div class="grid grid-cols-[1fr_1fr] lg:grid-cols-[1fr_1fr_1fr_1fr] gap-2 para-quem-é-sections px-10 lg:px-40">
    <div class="flex flex-col items-center">
      <div class="w-32 h-32 bg-serpink-400 rounded-full border shadow border-2 border-serpink-200"></div>
      <p class="font-open italic font-light text-md lg:text-xl text-serpurple-400 w-[18ch]">Para terapeutas que desejam construir <strong class="font-serif not-italic text-serblack-900">vinculos </strong>mais profundos e sólidos com seus clientes</p>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-32 h-32 bg-serpink-400 rounded-full border shadow border-2 border-serpink-200"></div>
      <p class="font-open italic font-light text-md lg:text-xl text-serpurple-400 w-[18ch]">Para terapeutas que sentem que precisam dar <strong class="font-serif not-italic text-serblack-900">estrutura </strong>aos seus atendimentos</p>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-32 h-32 bg-serpink-400 rounded-full border shadow border-2 border-serpink-200"></div>
      <p class="font-open italic font-light text-md lg:text-xl text-serpurple-400 w-[18ch]">Para pessoas que têm interesse em se <strong class="font-serif not-italic text-serblack-900">aprofundar</strong> na prática terapeutica
</p>
    </div>

    <div class="flex flex-col items-center">
      <div class="w-32 h-32 bg-serpink-400 rounded-full border shadow border-2 border-serpink-200"></div>
      <p class="font-open italic font-light text-md lg:text-xl text-serpurple-400 w-[18ch]">Para terapeutas que querem se consolidar no mercado terapêutico,<strong class="font-serif not-italic text-serblack-900"> acessando seus talentos</strong> mais profundos</p>
    </div>
  </div>

  <div class="self-center pb-10">
    <a href="https://pag.ae/7-9ZYy7cP" target="_blank" class="btn-primary w-[25ch] inline-block text-center">quero acessar meus dons e talentos</a>
  </div>
</section>
