<section class="w-[100vw] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-[4fr_5fr] px-4 lg:px-24 py-14">
  <div class="py-0 lg:py-12">
    <h2 class="font-serif font-bold text-serpurple-400 text-3xl m-0 leading-tight">Estou aqui para te guiar</h2>
    <p class="font-sans font-light leading-snug text-lg w-[35ch]">na construção de uma carreira sólida e autêntica no mercado terapêutico. Quero que você se sinta segura e verdadeira em seu trabalho, afastando-se da competição e abraçando um ciclo de crescimento que respeita a sua individualidade.</p>
    <p class="font-sans italic font-thin text-serblack-900 text-lg my-10 ml-4 w-[25ch] leading-tight">Vamos trabalhar os pilares da linguagem da Alma.</p>
    <p class="font-sans font-light leading-snug text-lg w-[35ch]">E também um treinamento para a parte prática e comportamental, como precificação, autocuidado, agenda e divulgação do seu trabalho a partir da sua essência e necessidades individuais.</p>
  </div>

  <div class="self-center flex flex-col items-center h-[80vh] md:h-[100%] px-4 md:px-20 py-4 md:py-10 h-[100%] rounded-2xl bg-serpurple-200
              bg bg-top bg-cover bg-no-repeat"
       style="background-image: url(<%= asset_url 'guianca.png' %>);">
    <p class="font-sans font-light leading-snug text-lg text-serpink-200 lg:bg-opacity-0 bg-opacity-60 bg-serpurple-900 p-1 rounded-lg">O nosso objetivo é o desenvolvimento espiritual coletivo, tanto do grupo quanto de todos os que fizerem parte dessa rede de cura e expansão da consciência.</p>
    <p  class="font-sans font-light leading-snug text-lg text-serpink-200  lg:bg-opacity-0 bg-opacity-60 bg-serpurple-900 p-1 rounded-lg">Este é o módulo inicial para compartilhar com você a minha lente e prática terapêutica através da consciência.</p>
  </div>
</section>

<section class=" w-[100vw] grid grid-cols-1 lg:grid-cols-[5fr_5fr] px-4 lg:px-24 py-4  pricing-card">

  <div class="order-1 md:order-none pricing-card flex flex-col flex-shrink items-center justify-center bg-serpurple-400 rounded-full p-10 shadow-lg md:h-[30rem] md:w-[30rem]">
    <h4 class="m-0 p-0 font-serif font-bold text-serpurple-900 text-xl leading-none old-price relative">R$2700</h4>
    <h2 class="mt-0 p-0 leading-none font-serif font-bold text-serpink-200 text-5xl new-price relative">1700</h2>
    <p class="font-sans font-light text-serblack-900 text-lg md:text-2xl my-0">12 encontros ao vivo</p>
    <p class="font-sans font-light text-serblack-900 text-lg md:text-2xl my-0">com 2 horas de duração</p>
    <p class="font-sans font-light text-serblack-900 text-lg md:text-2xl my-0">durante 3 meses</p>
    <p class="font-sans font-light text-serblack-900 text-lg md:text-2xl my-0">2 masterclasses surpresa</p>
    <span class="font-open font-light italic text-serpink-200 text-md mt-8">valor especial de primeira turma</span>
    <a href="https://pag.ae/7-9ZYy7cP" target="_blank"  class="btn-primary w-[25ch] inline-block text-center hover:shadow-2xl m-0 px-2">quero expandir com prosperidade e leveza</a>
  </div>

  <div class="order-none md:order-1 flex justify-center items-center">
    <p class="font-serif font-bold text-serpurple-200 text-xl leading-none w-[35ch] text-center lg:text-left">Esse é um grupo pequeno para trabalharmos com a profundidade que queremos, por isso as vagas são limitadas.</p>
  </div>
</section>
