<section class="bg-serpurple-400 flex justify-start w-[100vw] h-auto px-4 lg:px-24 py-14 bg-contain bg-no-repeat bg-right"
         style="background-image: url(<%= asset_url 'riscos2_azul.png' %>);">
  <p class="w-[25ch] text-serpink-200 font-sans font-light text-xl">Mentoria em grupo para terapeutas com o propósito de desenvolver técnicas para o aperfeiçoamento no atendimento individual. Apresentando ferramentas para o desenvolvimento da intuição na pratica terapeutica.</p>
</section>
