<section class="section-about grid grid-cols-1 lg:grid-cols-[3fr_6fr] w-[100vw] py-8 px-8 lg:px-24 lg:py-20 bg-serblue-400">
  <div class="flex flex-col justify-center items-center">
    <p class="font-sans leading-snug my-4 mt-10">Sou Gustavo, libriano, carioca e tenho 40 anos. Há 6 anos atuo como psicoterapeuta, com atendimentos individuais e supervisão.</p>
    <p class="font-sans leading-snug my-4">Os meus processos pessoais, a experiência clínica e sobretudo, o contato com a minha Alma, me revelaram a terapêutica que chamo de A Linguagem do Ser.</p>
    <p class="font-sans leading-snug my-4">Essa linguagem é a chave para reconhecer a intuição em si, como terapeuta, e no processo de atendimento individual. </p>
    <p class="font-sans leading-snug my-4">Esse é um caminho natural e possível, para aqueles que se perguntam “o que sou verdadeiramente”.</p>
  </div>

  <div class="flex justify-center items-center">
    <%= image_tag('sobre.jpg', alt: 'Gustavo Otero Terapeuta', class: 'h-[40rem] max-w-[100%] rounded-2xl') %>
  </div>
</section>
