@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply bg-serpink-400 px-4 py-2 font-serif font-bold text-serpurple-400 rounded-lg shadow-sm text-xl hover:bg-serpurple-400  hover:text-serpurple-200 transition ease-in-out duration-300 no-underline z-10;
  }

  .entregaveis-title{
    @apply font-serif font-bold text-serpink-400 text-3xl m-0 leading-tight;
  }

  .entregaveis-subtitle{
    @apply font-sans font-light text-serblack-900 text-2xl m-0 leading-tight;
  }

  .entregaveis-text{
    @apply font-sans italic font-thin text-serpink-200 text-md mt-4 w-[20ch];
  }
}

.para-quem-é-sections{
  position: relative;
}

.para-quem-é-sections::before{
  content: "";
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100vw;
  height: 4rem;
  background-color: #E2C5D3;
  opacity: .4;
  z-index: -1;
}

.entregaveis-section{
  position: relative;
}

.entregaveis-section::after{
  content: "";
  position: absolute;
  bottom: -17rem;
  right: 0;
  width: 30rem;
  height: 30rem;
  opacity: 1;
  background-image: url('riscos4_azul.png');
}

.card--entregaveis {
  background: linear-gradient(rgba(105, 93, 104, 0.1), rgba(105, 93, 104, 0.2));
  border-radius: 1.5rem;
  padding: 1.5rem 2.5rem;
  box-shadow: 0 0 1rem rgba(0,0,0,.1);
  margin-bottom: 2rem;
  border: 1px solid rgba(105, 93, 104, 0.1);
}

@media screen and (max-width: 768px) {
  .card--entregaveis{
    padding: 1rem;
  }
}

.meettings-section h2{
  color: #E2C5D3;
}

.meettings-container{
  /* height: 400px; */
  display: flex;
  flex-wrap: no-wrap;
  justify-content: start;
  overflow-x: auto;
}

.meettings-container::-webkit-scrollbar{
  display: none;
}

.meettings-card{
  width: 80px;
  border-radius: 2rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  margin: 0 1rem;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
}

@media screen and (max-width: 768px) {
  .meettings-card{
    width: 60px;
    overflow: visible;
    margin: 0 .5rem;
  }
  .meettings-section input:checked + label{
    width: 70% !important;
  }
  .description p{
    width: 100%;
    color: #E4d5fd ;
  }
  .description h4{
    font-size: 1rem;
    width: 15ch;
    line-height: 1;
    margin: 0 !important;
    justify-self: flex-end;
    margin: 1rem!important;

  }

  .meettings-card > .row > .icon{
    margin: .6rem!important;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    align-self: flex-end;
  }

  .meettings-card > .row{
    height: 20rem;
    width: 100% !important;
  }
  .meettings-card > .row > .description{
    height: 100% !important;
    width: 200px !important;
  }

}


.meettings-card > .row{
  color: #fff;
  display: flex;
  flex-wrap: no-wrap;
}

.meettings-card > .row > .icon{
  background: #928CAF;
  color: #fff;
  border-radius: 50%;
  padding: 1rem 1.2rem;
  line-height: .8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-family: serif;
  border: 1px solid #fff;
  align-self: flex-end;
}

.meettings-card > .row > .description{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  height: 50%;
  width: 520px ;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.description p{
  color: white;
  padding-top: 5px;
  margin: 0 1rem .5rem 0;
  padding: 0;
  font-family: Open Sans, sans-serif;
  text-align: right;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
}

.description p:last-child{
  margin-bottom: 1.5rem;
}

.description h4{
  color: #F4E4EF;
  margin: .5rem 1rem 0 0;
  padding: 0;
  font-family: serif;
  font-size: 1.5rem;
  font-height: .8;
  text-align: right;
}

.meettings-section input{
  display: none;
}

.meettings-section input:checked + label{
  width: 600px;
}

.meettings-section input:checked + label .description{
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.meettings-card[for="c1"]{
  background-image: url('1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #C0C1DB;
  background-blend-mode: multiply;
}

.meettings-card[for="c2"]{
  background-image: url('2.png');
  background-color: #C0C1DB;
  background-blend-mode: multiply;
}

.meettings-card[for="c3"]{
  background-image: url('3.png');
  background-color: #F4E4EF;
  background-blend-mode: multiply;

}

.meettings-card[for="c4"]{
  background-image: url('4.png');
  background-color: #CCDEE6;
  background-blend-mode: multiply;

}

.meettings-card[for="c5"]{
  background-image: url('5.png');
  background-color: #C0C1DB;
  background-blend-mode: multiply;
}

.meettings-card[for="c6"]{
  background-image: url('6.png');
  background-color: #E2C5D3;
  background-blend-mode: multiply;
}

.pricing-card{
  position: relative;
}

.pricing-card::after{
  content: "";
  position: absolute;
  bottom: -10rem;
  right: 7rem;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url('riscos3_azul.png');
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .pricing-card::after{
    bottom: -5rem;
    right: 15rem;
  }
}

.old-price:before{
  position: absolute;
  content: "";
  width: 5rem;
  height: 2px;
  color: #E2C5D3;
  background-color: #E2C5D3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20deg);
  opacity: .7;
}

.new-price:before{
  position: absolute;
  content: "R$";
  color: #C0C1DB;
  top: 5%;
  left: -30%;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Noto Serif, serif;
  opacity: .7;
}

.new-price:after{
  position: absolute;
  content: "em 3x sem juros ou 12x de R$167,52";
  color: #C0C1DB;
  bottom: -100%;
  right: -10%;
  width: 15ch;
  font-size: 1rem;
  font-weight: 700;
  font-family: Noto Serif, serif;
  text-align: center;
  opacity: .8;
}
